# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Uploads (if you don't want to commit user-uploaded files)
storage/

# ChromaDB (if generated locally)
storage/chroma/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
src/config.py/